<div class="header-bar">
  <div class="row">
    <div class="large-12 large-offset-3 columns">
      <h1 class="title">Drew Blumberg</h1>
      <div class="bio-text">Web Developer, human, millionaire playboy philanthropist</div>
    </div>
  </div>
</div>
<div class="navbar">
  <div class="row">
    <div class="large-12 large-offset-3 columns">
      <ul class="nav-list">
        <li><a href="#">Home</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Work</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12">
    <div class="circular"></div>
  </div>
</div>