@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }
  @-ms-keyframes $animation-name {
    @content;
  }
  @keyframes $animation-name {
    @content;
  }
}

@mixin fadein_anitmation($duration) {
  -webkit-animation: fadein $duration; /* Safari and Chrome */
  -moz-animation: fadein $duration; /* Firefox */
  -ms-animation: fadein $duration; /* Internet Explorer */
  animation: fadein $duration;
}