@import "variables";
@import "mixins";

body {
  font-family: $primary-font;

  a {
    color: $title-green;
    transition: color 0.5s ease;
    &:hover {
      color: $dark-title-green;
    }
  }
}

.bio-text {
  color: $medium-gray;
  font-size: 20px;
  margin: 30px 0 0 3px;
}

.circular {
  width: 250px;
  height: 250px;
  border-radius: 125px;
  -webkit-border-radius: 125px;
  -moz-border-radius: 125px;
  background: url(Drew.jpg) no-repeat;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  position: relative;
  top: -200px;

  @include fadein_anitmation(1s);
}

.header-bar {
  height: 150px;
}

.navbar {
  height: 50px;
  background-color: #A1C935;
}

.nav-list {
  list-style: none;
  margin-left: -7px;

  @include fadein_anitmation(1s);

  li {
    display: inline-block;
    padding: 12px 80px 12px 12px;

    a {
      color: white;
    }
  }
}

.title {
  color: $title-green;
  font-family: $primary-font;
  font-weight: bold;
  margin-top: 15px;
  text-transform: uppercase;
}

/* Keyframes */
@include keyframes(fadein) {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
